@page "/add-trail"

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active">Add Trail</li>
	</ol>
</nav>

<h3 class="mt-5 mb-4">Add a trail</h3>

<EditForm Model="_trail" OnValidSubmit="SubmitForm">
	<FormSection Title="Basic Details" 
		HelpText="This information is used to identify the trail and can be searched to help hikers find it.">
		
		<FormFieldSet Width="col-6">
            <label for="trailName" class="font-weight-bold text-secondary">Name</label>
            <InputText @bind-Value="_trail.Name" class="form-control" id="trailName" />
            <ValidationMessage For="@(() => _trail.Name)" />
        </FormFieldSet>

        <FormFieldSet>
            <label for="trailDescription" class="font-weight-bold text-secondary">Description</label>
            <InputTextArea @bind-Value="_trail.Description" rows="6" class="form-control" id="trailDescription" />
            <ValidationMessage For="@(() => _trail.Description)" />
        </FormFieldSet>

        <FormFieldSet Width="col-6">
            <label for="trailLocation" class="font-weight-bold text-secondary">Location</label>
            <InputText @bind-Value="_trail.Location" class="form-control" id="trailLocation" />
            <ValidationMessage For="@(() => _trail.Location)" />
        </FormFieldSet>

	</FormSection>

	<FormSection Title="Difficulty"
                 HelpText="Help other hikers out by telling them the length of the trail.">

        <FormFieldSet Width="col-3">
            <label for="trailLength" class="font-weight-bold text-secondary">Length (km)</label>
            <InputNumber @bind-Value="_trail.Length" class="form-control" id="trailLength" />
            <ValidationMessage For="@(() => _trail.Length)" />
        </FormFieldSet>

    </FormSection>

	<div class="mt-4 mb-5">
		<div class="row">
			<div class="offset-4 col-8 text-right">
				<button class="btn btn-outline-secondary" type="button" 
					@onclick="@(() => _trail = new TrailDto())">Reset</button>
				<button class="btn btn-primary" type="submit">Submit</button>
			</div>
		</div>
	</div>
</EditForm>

@code {
	TrailDto _trail = new TrailDto();

	private async Task SubmitForm()
	{
		// TODO: Submit data to API
	}
}
